<app-header></app-header>
<br>
<br>
<app-transactions
  (transactionCreated)="updateTransactionsList()"></app-transactions>
<div *ngIf="transactions.length > 0; else noTransactions">
  <div *ngIf="dataSourceCheckChange.length > 0">
    <h2 class="marginLeft10">Check change transactions</h2>
    <app-transaction-list
      (transactionDeleted)="updateTransactionsList()"
      [dataSourceInput]="dataSourceCheckChange"></app-transaction-list>
  </div>
  <div *ngIf="dataSourceMoneyTransfer.length > 0">
    <h2 class="marginLeft10">Money transfer transactions</h2>
    <app-transaction-list
      (transactionDeleted)="updateTransactionsList()"
      [dataSourceInput]="dataSourceMoneyTransfer"></app-transaction-list>
  </div>
  <div *ngIf="dataSourcePayrollPayment.length > 0">
    <h2 class="marginLeft10">Payroll payment transactions</h2>
    <app-transaction-list
      (transactionDeleted)="updateTransactionsList()"
      [dataSourceInput]="dataSourcePayrollPayment"></app-transaction-list>
  </div>
</div>
<ng-template #noTransactions>
  <div class="alignCenter">
    <h1>
      No pending transactions.
    </h1>
  </div>
</ng-template>
