<app-header></app-header>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-transactions></app-transactions>
<h2>Check change transactions</h2>
<app-transaction-list [dataSourceInput]="dataSourceCheckChange"></app-transaction-list>

<h2>Money transfer transactions</h2>
<app-transaction-list [dataSourceInput]="dataSourceMoneyTransfer"></app-transaction-list>

<h2>Payroll payment transactions</h2>
<app-transaction-list [dataSourceInput]="dataSourcePayrollPayment"></app-transaction-list>
