<div class="example-container">
  <mat-form-field>
    <input type="number" matInput placeholder="Weight" #weightInput>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select type"
                [(ngModel)]="selectedType"
                [(value)]="selectedType">
      <mat-option *ngFor="let type of types" [value]="type.id">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="onSearch(selectedType)">Search</button>
</div>
